@model WebApplication4.Models.Contrat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSouscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSouscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEcheance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEcheance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.IdClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFormuleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFormuleNavigation.IdFormule)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContrat">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
