@model WebApplication4.Models.DossiersSinistre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DossiersSinistre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCouverture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCouverture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCloture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCloture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indemnites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indemnites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContratNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContratNavigation.IdContrat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCorrespondantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCorrespondantNavigation.IdCorrespondant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExpertNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExpertNavigation.IdExpert)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDossierSinistre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
