@model IEnumerable<WebApplication4.Models.DossiersSinistre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCouverture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCloture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indemnites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContratNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCorrespondantNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdExpertNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCouverture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCloture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indemnites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContratNavigation.IdContrat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCorrespondantNavigation.IdCorrespondant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdExpertNavigation.IdExpert)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDossierSinistre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDossierSinistre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDossierSinistre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
